@import '../../../../styles.scss';

header{
  background-color: $background;
  display: flex;
  padding: 15px;
  justify-content: space-between;
  align-items: center;

  .logo{
    background: $color-gradient;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 25px;
  }

  ul{
    list-style: none;
    color: $color-text;
    display: flex;
    gap: 25px;

    li{
      cursor: pointer;
    }

    li:hover{
      background: $color-gradient;
      -webkit-background-clip: text;
      color: transparent;
      text-decoration: underline;
    }
  }
}

